# Dependencies
node_modules/
dist/

# Environment files
.env
.env.customer-portal
.env.partner-portal
.env.technician-portal

/*.local

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Logs
*.log

# Test coverage
coverage/

# Exports
exports/

# Ignore JWT's keys
/key_*